@import url('https://fonts.googleapis.com/css2? family= Inter & display=swap');

body{
    margin: auto;
    margin-top: 100px;
    width: 530px;
    height: 530px;
}

body p {
    font-size: 12px;
    font-family: 'Inter';

}

header p {
    padding-bottom: 25px;
}

div{
    display: inline-block;
}

main{
    background-color: #E9A7DA;
    padding: 50px;
    
}

main img{
    margin: auto;
    width: 198px;
    height: 159px;
}

.name {
    text-align: right;
}